
<div class="info-box">
    
    <div>
  
        <p>Fiş tasarımına eklemek için sürükleyin.</p>
    </div>
</div>
<div class="panel-header">
  <h2>Bileşenler</h2>
  
</div>

<div class="pool-list">
  <div
    class="item"
    *ngFor="let component of components"
    draggable="true"
    (dragstart)="dragStart($event, component.type)"
  >
    <span class="item-name">
      {{ component.label }}
    </span>

    <span class="drag-icon">⠿</span>
  </div>
</div>

<!--*ngFor ts dosyasındaki compenents dizisini sırayla dolaşır her eleman 
için bu divden 1 tane oluşturulur
draggable="true"->Bu kutunun normal HTML sürükleme sisteminde sürüklenebilir olduğunu söyler.
dragStart kullanıcı kutuyu sürüklemeye başladığında çalışır
component.label ise sürüklenen değeri ekranda gösterir-->