:host {
    width: 280px;
    background: #ffffff;
    padding: 20px;
    border-right: 1px solid #e0e0e0;
}

.item { /*her kutunun ayarı*/
    background: #f8f9fa;
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    cursor: grab; /* Sürükleme imleci */
    
    font-weight: 500;
}

.cdk-drag-preview {
  opacity: 0;
}